

/* 1. Global Styles
======================================== */

* {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
  z-index: 1;
}

*,
*::before,
*::after {
margin: 0;
padding: 0;
-webkit-box-sizing: inherit;
box-sizing: inherit;
}






/* 2. Typography Styles
======================================== */

h2 {
  font-size: 34px;
}

h3 {
  font-size: 28px;
}

h6 {
  font-size: 18px;
}



/* 3. Structure Styles
======================================== */
.background-img-main {
  background-image: url("Resources/img-mission-background.webp");
  height: 700px;
  width: 1200px;
  margin: 0 auto;
  position: relative;
  top: 35px;
  z-index: 0;
}

.background-img-loc {
  background-image: url("Resources/img-locations-background.webp");
  height: 500px;
  width: 1200px;
  margin: 0 auto;
  position: relative;
  top: 120px;
  z-index: 0;
  background-color: transparent;
}

.container-totm {
  position: relative;
  top: 70px;
  margin: 0 auto;
  width: 1000px;
}

.container-totm h4 {
  margin-top: 20px;
}

.container-loc {
  background-color: transparent;
}

.background-img-loc h2 {
  position: relative;
  top: 80px;
  background-color: transparent;
}



.container-img-showcase {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.container-img-showcase img {
  height: 200px;
  width: 300px;
}

.container-img-showcase figure {
  margin-right: 33px;
  margin-top: 30px;
}

.container-img-showcase figcaption {
  margin-top: 10px;
}

.container-loc {
  display: inline-flex;
  position: relative;
  top: 95px;
}

.container-loc-indv {
  width: 300px;
  opacity: 1;
  margin-right: 40px;
}

.container-loc-indv h4 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.container-loc-indv h3 {
  margin-top: 20px;

}

/* 4. Modules Styles
======================================== */



/* 5. Component Styles
======================================== */


#logo img {
  max-height: 50px;
  margin: 0 10px;
  padding-top: 10px;
}

nav {
  margin: 22px 10px 0 0;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0 10px;
  text-decoration: underline;
}


.right {
  float: right;
}

.left {
  float: left;
}


.container {
  width: 100%;
}

.mission {
  position: relative;
  top: 265px;
  padding:  0;
  opacity: 1;
}

.mission h2 {
  padding-top: 10px;
}

.mission h4 {
  padding-bottom: 10px;
}




/* 6. Page Styles
======================================== */

.header {
  height: 69px;
  position: fixed;
  border-bottom: 1px solid seashell;
  width: 100%;
  opacity: 1;
  top: 0;
}

footer {
  background-color: transparent;
}

.footer-close {
  height: 200px;
  position: relative;
  top: 135px;
  background-color: transparent;
}

.footer-close h5 {
  margin-top: 40px;
}

.footer-cpy {
  margin-left: 20px;
  float: left;
  position: relative;
  top: 200px;
  padding-bottom: 20px;
}

main {
  opacity: 0.9;
}
